name: CI Mentoria

on:
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do Repositório
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Instalar dependências
        run: npm ci

      # Recomendado: usa start-server-and-test para iniciar, aguardar e executar os testes
      - name: Iniciar servidor e executar testes
        run: npx start-server-and-test start http://localhost:3000 test
